<!-- begin paper_meta.html -->

{% if page.citation_title %}
<meta name="citation_title" content="{{ page.citation_title }}">
{% endif %}
{% if page.citation_author %}
    {% for author in page.citation_author %}
        <meta name="citation_author" content="{{ author }}">
    {% endfor %}
{% endif %}
{% if page.citation_authors %}
    {% for author in page.citation_authors %}
        <meta name="citation_author" content="{{ author }}">
    {% endfor %}
{% endif %}
{% if page.citation_keywords %}
    {% for keyword in page.citation_keywords %}
        <meta name="citation_keywords" content="{{ keyword }}">
    {% endfor %}
{% endif %}
{% if page.citation_abstract %}
<meta name="citation_abstract" content="{{ page.citation_abstract }}">
{% endif %}
{% if page.citation_year %}
<meta name="citation_year" content="{{ page.citation_year }}">
{% endif %}
{% if page.citation_date %}
<meta name="citation_date" content="{{ page.citation_date }}">
{% endif %}
{% if page.citation_online_date %}
<meta name="citation_online_date" content="{{ page.citation_online_date }}">
{% endif %}
{% if page.citation_publication_date %}
<meta name="citation_publication_date" content="{{ page.citation_publication_date }}">
{% endif %}
{% if page.citation_cover_date %}
<meta name="citation_cover_date" content="{{ page.citation_cover_date }}">
{% endif %}
{% if page.citation_journal_title %}
<meta name="citation_journal_title" content="{{ page.citation_journal_title }}">
{% endif %}
{% if page.citation_journal_abbrev %}
<meta name="citation_journal_abbrev" content="{{ page.citation_journal_abbrev }}">
{% endif %}
{% if page.citation_inbook_title %}
<meta name="citation_inbook_title" content="{{ page.citation_inbook_title }}">
{% endif %}
{% if page.citation_book_title %}
<meta name="citation_book_title" content="{{ page.citation_book_title }}">
{% endif %}
{% if page.citation_volume %}
<meta name="citation_volume" content="{{ page.citation_volume }}">
{% endif %}
{% if page.citation_issue %}
<meta name="citation_issue" content="{{ page.citation_issue }}">
{% endif %}
{% if page.citation_series_title %}
<meta name="citation_series_title" content="{{ page.citation_series_title }}">
{% endif %}
{% if page.citation_conference_title %}
<meta name="citation_conference_title" content="{{ page.citation_conference_title }}">
{% endif %}
{% if page.citation_conference %}
<meta name="citation_conference" content="{{ page.citation_conference }}">
{% endif %}
{% if page.citation_dissertation_institution %}
<meta name="citation_dissertation_institution" content="{{ page.citation_dissertation_institution }}">
{% endif %}
{% if page.citation_technical_report_institution %}
<meta name="citation_technical_report_institution" content="{{ page.citation_technical_report_institution }}">
{% endif %}
{% if page.citation_technical_report_number %}
<meta name="citation_technical_report_number" content="{{ page.citation_technical_report_number }}">
{% endif %}
{% if page.citation_publisher %}
<meta name="citation_publisher" content="{{ page.citation_publisher }}">
{% endif %}
{% if page.citation_isbn %}
<meta name="citation_isbn" content="{{ page.citation_isbn }}">
{% endif %}
{% if page.citation_doi %}
<meta name="citation_doi" content="{{ page.citation_doi }}">
{% endif %}
{% if page.citation_issn %}
<meta name="citation_issn" content="{{ page.citation_issn }}">
{% endif %}
{% if page.citation_eIssn %}
<meta name="citation_eIssn" content="{{ page.citation_eIssn }}">
{% endif %}
{% if page.citation_pmid %}
<meta name="citation_pmid" content="{{ page.citation_pmid }}">
{% endif %}
{% if page.citation_public_url %}
<meta name="citation_public_url" content="{{ page.citation_public_url }}">
{% endif %}
{% if page.citation_language %}
<meta name="citation_language" content="{{ page.citation_language }}">
{% endif %}
{% if page.citation_firstpage %}
<meta name="citation_firstpage" content="{{ page.citation_firstpage }}">
{% endif %}
{% if page.citation_lastpage %}
<meta name="citation_lastpage" content="{{ page.citation_lastpage }}">
{% endif %}
{% if page.citation_abstract_html_url %}
<meta name="citation_abstract_html_url" content="{{ page.citation_abstract_html_url }}">
{% endif %}
{% if page.citation_fulltext_html_url %}
<meta name="citation_fulltext_html_url" content="{{ page.citation_fulltext_html_url }}">
{% endif %}
{% if page.citation_pdf_url %}
<meta name="citation_pdf_url" content="{{ page.citation_pdf_url }}">
{% endif %}

<!-- end paper_meta.html -->