---
layout: null
permalink: /publications.json
sitemap: false
---
{
  "schema_version": "1.0",
  "title": "SOS+CD publication catalog",
  "url": {{ '/publications/' | absolute_url | jsonify }},
  "updated": {{ site.data.research_updates.publications | jsonify }},
  "record_count": {{ site.data.publication_stats.total }},
  "first_year": {{ site.data.publication_stats.first_year }},
  "topics": {{ site.data.publication_facets.topics | jsonify }},
  "tags": {{ site.data.publication_facets.tags | jsonify }},
  "publications": [{% for item in site.data.publication_index %}{% assign paper = item[1] %}{
    "id": {{ paper.key | jsonify }},
    "title": {{ paper.title | jsonify }},
    "alternate_title": {{ paper.alternate_title | jsonify }},
    "authors": {{ paper.author_list | jsonify }},
    "year": {{ paper.year | jsonify }},
    "publication_date": {{ paper.publication_date | jsonify }},
    "format": {{ paper.format | jsonify }},
    "status": {{ paper.format_label | jsonify }},
    "venue": {{ paper.venue | jsonify }},
    "doi": {{ paper.doi | jsonify }},
    "source_url": {{ paper.url | jsonify }},
    "page_url": {% if paper.page_path %}{{ paper.page_path | absolute_url | jsonify }}{% else %}null{% endif %},
    "bibtex_url": {{ paper.bibtex_path | absolute_url | jsonify }},
    "topics": {{ paper.topics | jsonify }},
    "tags": {{ paper.tags | jsonify }},
    "summary": {{ paper.summary | jsonify }},
    "abstract": {{ paper.abstract | jsonify }},
    "abstract_license": {{ paper.abstract_license | jsonify }},
    "resources": [{% for resource in paper.resources %}{"type": {{ resource.type | jsonify }}, "url": {{ resource.url | absolute_url | jsonify }}}{% unless forloop.last %},{% endunless %}{% endfor %}]
  }{% unless forloop.last %},{% endunless %}{% endfor %}]
}
