<figure class="author__figure">
  <a href="{{ include.url }}">
    {% if include.image %}
    <img src="{{ include.image }}" alt="{{ include.name }}" class="author__avatar">
    {% else %}
<!--    Create empty gray image inline with an image tag. and create 10px margin at the bottom of the image-->
    <svg class="author__avatar" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" style="margin-bottom: 10px;">
      <rect width="100" height="100" fill="#e6e6e6"/>
    </svg>
    {% endif %}
    <figcaption>
      <span style="font-weight: 800; font-size: 14pt;">{{ include.name | markdownify | remove: "<p>" | remove: "</p>" }}</span>
      <p>{{ include.position | markdownify | remove: "<p>" | remove: "</p>" }}</p>
    </figcaption>
  </a>
</figure>
